<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :commenter_name %><br>
    <%= f.text_field :commenter_name %>
  </div>
  <div class="field">
    <%= f.label :commenter_facebook_id %><br>
    <%= f.text_field :commenter_facebook_id %>
  </div>
  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_field :message %>
  </div>
  <div class="field">
    <%= f.label :created_time %><br>
    <%= f.text_field :created_time %>
  </div>
  <div class="field">
    <%= f.label :comment_facebook_id %><br>
    <%= f.text_field :comment_facebook_id %>
  </div>
  <div class="field">
    <%= f.label :post_id %><br>
    <%= f.number_field :post_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
