<h1>Listing comments</h1>

<table>
  <thead>
    <tr>
      <th>Commenter name</th>
      <th>Commenter facebook</th>
      <th>Message</th>
      <th>Created time</th>
      <th>Comment facebook</th>
      <th>Post</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.commenter_name %></td>
        <td><%= comment.commenter_facebook_id %></td>
        <td><%= comment.message %></td>
        <td><%= comment.created_time %></td>
        <td><%= comment.comment_facebook_id %></td>
        <td><%= comment.post_id %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path %>
