<p id="notice"><%= notice %></p>

<p>
  <strong>Commenter name:</strong>
  <%= @comment.commenter_name %>
</p>

<p>
  <strong>Commenter facebook:</strong>
  <%= @comment.commenter_facebook_id %>
</p>

<p>
  <strong>Message:</strong>
  <%= @comment.message %>
</p>

<p>
  <strong>Created time:</strong>
  <%= @comment.created_time %>
</p>

<p>
  <strong>Comment facebook:</strong>
  <%= @comment.comment_facebook_id %>
</p>

<p>
  <strong>Post:</strong>
  <%= @comment.post_id %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
