<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message| %>
    <div><%= message %></div>
  <% end %>
<% end %>

<%= form_for @user do |f| %>


  <div>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>

  <div>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>

  <div>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div>
    <%= f.label :facebook_access_token %><br />
    <%= f.text_field :facebook_access_token %>
  </div>

  <div>
    <%= f.label :facebook_id %><br />
    <%= f.text_field :facebook_id %>
  </div>


  <div>
    <%= f.submit %>
  </div>
<% end %>
