<h1>User #<%= @user.id %></h1>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Facebook access token:</b>
  <%= @user.facebook_access_token %>
</p>

<p>
  <b>Facebook:</b>
  <%= @user.facebook_id %>
</p>


