<h1>
  <%= @user.username %>
  <small>
    <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_user_url(@user) %>
    <%= link_to '<i class="icon-trash"></i>'.html_safe, @user, method: 'delete', data: { confirm: "Do you really want to delete this user?" } %>
  </small>
</h1>

<dl>
  <dt>First name</dt>
  <dd><%= @user.first_name %></dd>

  <dt>First name:</dt>
  <dd><%= @user.first_name %></dd>

  <dt>Last name:</dt>
  <dd><%= @user.last_name %></dd>

  <dt>Facebook access token:</dt>
  <dd><%= @user.facebook_access_token %></dd>

  <dt>Facebook:</dt>
  <dd><%= @user.facebook_id %></dd>
</dl>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= image_tag "https://graph.facebook.com/#{post['from']['id']}/picture" %>
      <%= post['from']['name'] %>
      <%= time_ago_in_words(post['created_time']) %>
      <%= post['message'] %>
      <%= link_to 'Click here to watch', post['link'] %>
    </li>
  <% end %>
</ul>
