<!DOCTYPE html>
<html>
<head>
  <title>Friendbc</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div><%= flash[:notice] %></div>
  <div><%= flash[:error] %></div>
  <div>
    <% if current_user.present? %>
        Signed in as <%= current_user.username %>.
        <%= link_to 'Sign Out', session_url, method: 'delete' %>
    <% else %>
        <%= link_to 'Sign In', new_session_url %>
    <% end %>
  </div>
<%= yield %>

</body>
</html>
